@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.app-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.task-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.task-form input,
.task-form button,
.task-form label {
  margin-bottom: 10px;
}

.edit-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.tasks-container {
  margin-top: 20px;
}

.task {
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.task h4 {
  margin-bottom: 5px;
}

.task-buttons {
  display: flex;
  justify-content: space-between;
}

.task-buttons button {
  background-color: #3498db;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  margin-top: 8px;
  cursor: pointer;
}

.delete-btn {
  background-color: #ff6347 !important;
}

.delete-btn:hover {
  background-color: #e74c3c !important;
}
